img {
    position: absolute;
    display: block;
    
}

#navegacion {
    margin: 5% 3% 3% 25%;
    top: 320px;
    position: relative;
}

button:focus {
    background-color: pink;
}

button:hover {
    background-color: purple;
}